<!-- received="Mon Jan 18 14:49:59 1999 PST" -->
<!-- sent="Mon, 18 Jan 1999 23:39:54 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="patch to hp-backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: patch to hp-backend</title>
<h1>patch to hp-backend</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Mon, 18 Jan 1999 23:39:54 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Oliver Rauch: "TO UMAX ASTRA 6X0S USERS !"</a>
<li> <b>Previous message:</b> <a href="0127.html">Petter Reinholdtsen: "CVS repository for SANE sources"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
for use with HP Photosmart, please apply the following patch to the<br>
hp-backend V0.80 (<a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>).<br>
It prevents the button "scan from ADF" to appear for that scanner.<br>
<p>
--Peter<br>
<p>
Patch:<br>
<p>
--- hp-option.c.orig    Sun Jan 10 15:14:34 1999<br>
+++ hp-option.c Mon Jan 18 20:26:27 1999<br>
@@ -2518,7 +2518,7 @@<br>
 static const struct hp_option_descriptor_s ADF_SCAN[1] = {{<br>
     SCANNER_OPTION(ADF_SCAN, BOOL, NONE),<br>
     REQUIRES(HP_COMPAT_2C | HP_COMPAT_2CX | HP_COMPAT_4C | HP_COMPAT_4P<br>
-             | HP_COMPAT_5P | HP_COMPAT_5100C | HP_COMPAT_6200C |<br>
HP_COMPAT_PS),<br>
+             | HP_COMPAT_5P | HP_COMPAT_5100C | HP_COMPAT_6200C),<br>
     _probe_adf_scan, 0, 0,<br>
     1, 1, 0, 0, SCL_ADF_SCAN<br>
 }}; <br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Oliver Rauch: "TO UMAX ASTRA 6X0S USERS !"</a>
<li> <b>Previous message:</b> <a href="0127.html">Petter Reinholdtsen: "CVS repository for SANE sources"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
